<div class="courses-toolbar">
    <div class="row">
        <div class="input-group col-8">
            <input type="text" class="form-control" placeholder="Lorem ipsum" [(ngModel)]='searchText'>
            <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="search()">Find</button>
      </span>
        </div>

        <div class="col-4 text-right">
            <a href="/#/new-course" class="btn btn-primary">Add course</a>
        </div>
    </div>

</div>