<div class="row course-item" [courseplate]="courseItem" [ngClass]="{ 'top-rated': courseItem.topRated }">
    <div class="col-10">
        <h5>

            <b>{{courseItem.title | uppercase }}</b>
            <span class="ml-5">{{courseItem.durationMins | duration}}</span>
            <b *ngIf="courseItem.topRated">	&#9733;</b>
            <span class="float-right">{{courseItem.createDate | date}}</span>

        </h5>
        <p class="text-justify">
            <small>
            {{courseItem.description}}
            </small>
        </p>

    </div>
    <div class="col-2">
        <button class="btn btn-secondary btn-block">Edit course</button>
        <br />
        <button class="btn btn-secondary btn-block" mwlConfirmationPopover [title]="title" [message]="message" placement="left" (confirm)="delete()">
      Delete course
    </button>
    </div>
</div>